html, body, .contentText {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contentContainer {
    background-color: cornflowerblue;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100px;
    margin: 5px;
    border-radius: 10px;
    left: 0;
    transition: left 500ms ease;
}

.contentContainer.right {
    left: 100%;
    transform: translateX(-110%);
    transition: left 500ms ease;
}

.contentContainer.inView {
    left: 50%;
    transform: translateX(-50%);
    transition: left 500ms ease;
}

.contentText {
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}